//variables
$white: #fff;
$light-blue: #3b90e0;
$blue: #1070ca;
$dark-blue: #0b5192;
$red: #721c24;
$light-red: #f8d7da;
$light-red2: #f5c6cb;

$elements-color: #c3e2ff;

$background-color: #f6f6f6;

$text-default: #333b44;
$text-sec: #b9d3ec;
$link-color: #3081cc;

$border-color: #ccc;

$light-color: #f5f5f5;

$border-radius: 16px;