<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social media platform</title>
    <link rel="stylesheet" href="../assets/css/mainstyles.css" />
    <link rel="stylesheet" href="../assets/css/signup.css" />
  </head>
  <body>
    <div class="wrapper">
      <section class="signup">
        <h1>Zarejestruj się</h1>
        <form action="#" method="POST">
          <div class="form__field--personal-information">
            <label class="form__field"
              >Imię:
              <input type="text" name="firstName" id="firstName" />
            </label>
            <label class="form__field"
              >Nazwisko:
              <input type="text" name="lastName" id="lastName" />
            </label>
          </div>
          <label class="form__field"
            >Adres Email:
            <input type="email" name="email" id="email" />
          </label>
          <label class="form__field"
            >Hasło:
            <input type="password" name="password" id="password" />
          </label>
          <label class="form__field"
            >Powtórz Hasło:
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
          </label>
          <div class="form__field--gender">
            <label class="form__field--gender__value">
              <input type="radio" name="gender" value="male" /> Mężczyzna
            </label>
            <label class="form__field--gender__value">
              <input type="radio" name="gender" value="female" /> Kobieta
            </label>
          </div>
          <input class="form__submit-btn" type="submit" value="Zarejestruj się" />
          <div class="form__error-container">Error message</div>
        </form>
        <div class="signup__link">
          <p class="signup__link--text">Posiadasz konto?</p>
          <a class="signup__link--link" href="#">Zaloguj się!</a>
        </div>
      </section>
    </div>
  </body>
</html>
