<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social media platform</title>
    <link rel="stylesheet" href="../assets/css/mainstyles.css" />
    <link rel="stylesheet" href="../assets/css/signin.css" />
  </head>
  <body>
    <div class="wrapper signin-img"></div>
    <div class="wrapper">
      <section class="signin">
        <h1>Zaloguj się</h1>
        <form action="#" method="POST">
          <label class="form__field"
            >Adres Email:
            <input type="email" name="email" id="email" required />
          </label>
          <label class="form__field"
            >Hasło:
            <input type="password" name="password" id="password" required />
            <button class="form__field--password-icon">
              <img src="../assets/img/eye-icon.svg" alt="Pokaż swoje hasło." />
            </button>
          </label>
          <input class="form__submit-btn" type="submit" value="Zaloguj się" />
          <div class="form__error-container">Error message</div>
        </form>
        <div class="signup__link">
          <p class="signup__link--text">
            Nie posiadasz konta?
            <a class="signup__link--link" href="#">Zarejestruj się!</a>
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
