<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social media platform</title>
    <link rel="stylesheet" href="../assets/css/mainstyles.css" />
    <link rel="stylesheet" href="../assets/css/userProfile.css" />
  </head>
  <body>
    <!-- <?php
      include_once("../app/config.php");
    ?> -->
    <header class="header">
      <div class="header__logo">
        <span>Social</span>
        <span>Media</span>
      </div>
      <nav class="header__navigation">
        <ul class="header__navigation__list">
          <a href="mainPage.php">
            <li class="header__navigation__list__item">
              <img
                src="../assets/img/home-icon.svg"
                alt="Strona główna."
              /><span>Strona główna</span>
            </li>
          </a>
          <a href="search.php">
            <li class="header__navigation__list__item">
              <img src="../assets/img/search-icon.svg" alt="Wyszukaj." /><span
                >Szukaj</span
              >
            </li>
          </a>
        </ul>
      </nav>
      <button class="header__user-info" id="header__user-info-btn">
        <img
          class="header__user-info__picture"
          src="../assets/img/default-profile-picture-male-icon.svg"
          alt="Awatar użytkownika."
        />
        <span class="header__user-info__nickname">User</span>
        <img
          src="../assets/img/arrow-down-icon.svg"
          alt="Strzałka rozwijająca opcje."
        />
      </button>
      <div class="header__modal" id="header__modal">
        <a href="userProfile.html" class="header__modal__btn">
          Profil użytkownika
          <img
            src="../assets/img/user-profile-icon.svg"
            alt="Profil użytkownika."
          />
        </a>
        <a href="../app/logout.php" class="header__modal__btn">
          Wyloguj się
          <img src="../assets/img/logout-icon.svg" alt="Wyloguj się." />
        </a>
      </div>
    </header>
    <main class="main" id="main">
      <section class="banner">
        <div class="banner__user-profile">
          <img
            src="../assets/img/default-profile-picture-male-icon.svg"
            alt="Awatar użytkownika."
          />
          <span>User</span>
        </div>
        <!-- <button class="banner__follow-btn--active">
          Obserwuj!
        </button> -->
        <button class="banner__settings-btn">
          <img src="../assets/img/setting-icon.svg" alt="Ustawienia." />
        </button>
      </section>
      <section class="content">
        <section class="friends">
          <h2 class="friends__heading">Przyjaciele</h2>
          <div class="friends__list">
            <div class="friend">
              <a href="#" class="friend__link">
                <img
                  class="friend__picture"
                  src="../assets/img/default-profile-picture-female-icon.svg"
                  alt="Awatar przyjaciela użytkownika."
                />
                <span class="friend__nickname">User Friend</span>
              </a>
            </div>
            <div class="friend">
              <a href="#" class="friend__link">
                <img
                  class="friend__picture"
                  src="../assets/img/default-profile-picture-female-icon.svg"
                  alt="Awatar przyjaciela użytkownika."
                />
                <span class="friend__nickname">User Friend</span>
              </a>
            </div>
            <div class="friend">
              <a href="#" class="friend__link">
                <img
                  class="friend__picture"
                  src="../assets/img/default-profile-picture-female-icon.svg"
                  alt="Awatar przyjaciela użytkownika."
                />
                <span class="friend__nickname">User Friend</span>
              </a>
            </div>
            <div class="friend">
              <a href="#" class="friend__link">
                <img
                  class="friend__picture"
                  src="../assets/img/default-profile-picture-female-icon.svg"
                  alt="Awatar przyjaciela użytkownika."
                />
                <span class="friend__nickname">User Friend</span>
              </a>
            </div>
            <div class="friend">
              <a href="#" class="friend__link">
                <img
                  class="friend__picture"
                  src="../assets/img/default-profile-picture-female-icon.svg"
                  alt="Awatar przyjaciela użytkownika."
                />
                <span class="friend__nickname">User Friend</span>
              </a>
            </div>
          </div>
        </section>
        <section class="posts">
          <form action="#" method="post" class="posts__new-post">
            <textarea
              class="posts__new-post__text"
              name="post-text"
              id="post-text"
              placeholder="Opowiedź coś..."
            ></textarea>
            <button class="posts__new-post__submit-btn" type="submit">
              Udostępnij wpis!
            </button>
          </form>
          <div class="post">
            <img
              class="post__picture"
              src="../assets/img/default-profile-picture-male-icon.svg"
              alt="Awatar użytkownika."
            />
            <div class="post__container">
              <div class="post__content">
                <p class="post__content__nickname">User</p>
                <p class="post__content__message">My old post</p>
              </div>
              <div class="post__footer">
                <div class="post__footer__like-section">
                  <button class="post__footer__like-section__like-btn">
                    <img
                      class="post__footer__like-section__like-btn__img"
                      src="../assets/img/heart-line-icon.svg"
                      alt="Polubienia."
                    />
                  </button>
                  <span class="post__footer__like-section__like-counter"
                    >0</span
                  >
                </div>
                <span class="post__footer__date">21-03-2022</span>
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
    <footer class="footer">
      <p class="footer__copy">Copyright &copy; Marcin Wasilewski 2023</p>
    </footer>
    <script src="../assets/js/modalShow.js"></script>
  </body>
</html>
