.banner {
  position: relative;
  background-color: $light-blue;
  height: 250px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  &__user-profile {
    position: absolute;
    bottom: -10%;
    left: 20%;
    display: flex;
    align-items: center;
    color: $white;
    font-weight: 700;
    font-size: 2rem;
    & img {
      border-radius: 50%;
      //border: 2px solid $white;
      width: 128px;
      height: 128px;
    }
    & span {
      padding: 2rem;
    }
  }

  &__follow-btn {
    &--active {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 1rem;
      border: none;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease-in-out;
      background-color: $blue;
      color: $white;

      &:hover {
        background-color: $light-blue;
      }
    }

    &--disactive {
      cursor: pointer;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 1rem;
      border: none;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      transition: all 0.3s ease-in-out;
      background-color: $border-color;
      color: $text-default;

      &:hover {
        background-color: $light-blue;
      }
    }
  }

  &__settings-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    background-color: $blue;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    transition: all 0.3s ease-in-out;
    & img {
      width: 32px;
      height: 32px;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

@media only screen and (max-width: 768px) {
  .banner__user-profile{
    left: 0;
    bottom: 0;
    & img{
      display: none;
    }
  }
}