.wrapper {
  background-color: $white;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    background-color: $dark-blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30vw;
  }

  @media only screen and (max-width: 768px) {
    &:first-child {
      display: none;
      background-image: none;
    }

    background-color: $white;
    max-width: 600px;
    width: 40vw;
    min-width: 300px;
    height: auto;
    border-radius: $border-radius;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
      0 32px 64px -48px rgba(0, 0, 0, 0.5);
  }
}
