.header {
  z-index: 2;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: #1070ca;
  color: #fff;
  align-items: center;
  padding: 1rem 4rem;
}
.header__logo {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 2rem;
}
.header__logo span:last-child {
  color: #b9d3ec;
}
.header__navigation__list {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.header__navigation__list__item {
  cursor: pointer;
  list-style: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}
.header__navigation__list__item img {
  width: 24px;
  margin: 0.5rem 0;
  transition: all 0.3s ease-in-out;
}
.header__navigation__list__item:hover {
  color: #b9d3ec;
}
.header__navigation__list__item:hover img {
  transform: rotate(15deg) scale(1.2);
}
.header__user-info {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: #fff;
}
.header__user-info__picture {
  transition: all 0.6s ease-in-out;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.header__user-info__nickname {
  transition: all 0.6s ease-in-out;
  margin: 0 0.5rem 0 1rem;
}
.header__user-info img:last-of-type {
  transition: all 0.6s ease-in-out;
  width: 12px;
}
.header__user-info:hover__picture {
  border-radius: 25%;
}
.header__user-info:hover span {
  color: #b9d3ec;
}
.header__user-info:hover img:last-of-type {
  transform: rotate(-360deg);
}
.header__modal {
  display: none;
  position: absolute;
  bottom: -99%;
  right: 2rem;
  background-color: #1070ca;
}
.header__modal img {
  width: 16px;
}
.header__modal__btn {
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 45px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.header__modal__btn:hover {
  background-color: #3b90e0;
}
.header__modal__btn:hover:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.header__modal:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.main {
  padding-top: 80px;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

.banner {
  position: relative;
  background-color: #3b90e0;
  height: 250px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.banner__user-profile {
  position: absolute;
  bottom: -10%;
  left: 20%;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}
.banner__user-profile img {
  border-radius: 50%;
  width: 128px;
  height: 128px;
}
.banner__user-profile span {
  padding: 2rem;
}
.banner__follow-btn--active {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  background-color: #1070ca;
  color: #fff;
}
.banner__follow-btn--active:hover {
  background-color: #3b90e0;
}
.banner__follow-btn--disactive {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
  background-color: #ccc;
  color: #333b44;
}
.banner__follow-btn--disactive:hover {
  background-color: #3b90e0;
}
.banner__settings-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  background-color: #1070ca;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  padding-bottom: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.banner__settings-btn img {
  width: 32px;
  height: 32px;
}
.banner__settings-btn:hover {
  background-color: transparent;
}

.content {
  display: flex;
  margin: 2rem 0;
  gap: 2rem;
}

.friends {
  width: 40%;
}
.friends__heading {
  margin-left: 1rem;
}
.friends__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
}
.friends__list .friend {
  border-radius: 16px;
  background-color: #c3e2ff;
  width: 125px;
  transition: all 0.3s ease-in-out;
}
.friends__list .friend__nickname {
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  text-align: center;
  color: #333b44;
}
.friends__list .friend:hover {
  transform: scale(1.1) rotate(5deg);
}
.friends__list__error-message {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.posts {
  width: 60%;
}
.posts__new-post {
  background-color: #c3e2ff;
  border-radius: 16px;
  padding: 1rem;
  position: relative;
  width: 100%;
}
.posts__new-post__text {
  display: block;
  overflow: hidden;
  resize: none;
  width: 100%;
  min-height: 100px;
  border: none;
  background-color: transparent;
  margin-bottom: 2.5rem;
}
.posts__new-post__text:focus {
  outline: none;
}
.posts__new-post__submit-btn {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem;
  background-color: #1070ca;
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-in-out;
}
.posts__new-post__submit-btn:hover {
  background-color: #3b90e0;
}
.posts .post {
  background-color: #c3e2ff;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.posts .post img {
  margin: 1rem 0;
  width: 64px;
}
.posts .post__content__nickname {
  font-weight: 700;
  font-size: 1.1rem;
}
.posts .post__footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.posts .post__footer__like-section {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.posts .post__footer__like-section__like-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: auto;
  height: 20px;
}
.posts .post__footer__like-section__like-btn img {
  margin: 0;
  width: 16px;
}
.posts .post__footer__like-section__like-counter {
  font-weight: 700;
}

.footer {
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #1070ca;
  color: #fff;
}/*# sourceMappingURL=userProfile.css.map */