@import "../../variables";

@import "./modules/header";
@import "./modules/main";
@import "./modules/banner";
@import "./modules/content";
@import "./modules/posts";
@import "./modules/footer";

h1 {
  margin-top: 3rem;
  margin-left: 5rem;
  font-size: 2.5rem;
}

.posts {
  margin-bottom: 4rem;
  width: 100%;
  .post {
    margin: 2rem auto 0 auto;
    width: 80%;
  }
}
